
<h2 id="c-heading">Shopping Cart</h2>
<div class="outer-cart outr">
    <div class="shopping-cart">
      <div class = "p-detail">
        <span>Product</span>
        <span>Quantity</span>
        <span>Price</span>
        <span>Total</span>
        <span>Actions</span>
      </div>
      <% if @cart.present? && @cart.cart_items.any? %>
        <% @cart.cart_items.each do |item| %>
          <%= render 'cart_items/cart_item', item: item %> 
        <% end %>
      <% else %>
        <p>Your Cart is Empty!</p>
      <% end %>
  </div>

  <div class="chechout">
    <%= link_to "Proceed to Checkout", checkout_index_path, method: :get, class: "checkout-link" %>
  </div>
</div>